*{
	margin: 0;
	padding: 0;
}

.info_wrapper{
	margin-top: 10px;
	text-align: center;
	font-family: monospace;
	font-weight: bold;
}

#work{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
    margin: 5px;
    border: none;
    background-color: lightgreen;
    color: white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.upgrades{
	display: flex;
	margin: 5px;
	max-width: 100%;
	overflow: hidden;
}

.upgrade{
	list-style: none;
	padding: 10px;
	color: white;
	background-color: black;
	margin-left: 5px;
	overflow: hidden;
	min-height: 100px;
}

.upgrade-button{
	position: relative;
    top: 80%;
    transform: translateY(-100%);
}